$main_site        = 'mindi3.nmu.alcatel.fr';
$cfg_cli_cmd      = '/usr/share/gforge/acde/tools/gforge-cli/gforge.php';
$cfg_wsdl         = "http://$main_site/soap/index.php?wsdl";
$cfg_project      = 'test';
# Member of the test project
$cfg_member_username = 'test member';
$cfg_member_password = 'mdp123';

# Normal user (not member)
$cfg_user_username = 'Antoine Bertholon';
$cfg_user_short_username = 'aberthol';
$cfg_user_password = $ENV{'PUBLIC'};
#print "[$cfg_user_password]";

#
# SOAP Configuration variables.
#

# Gforge access
$soap_url      = "http://$main_site/soap/index.php";
$soap_login    = $cfg_member_username;
$soap_password = $cfg_member_password;

# GForge id for the test project.
$cfg_project="testab";
# Tracker id to scan.
$cfg_tracker_id="323";
# Tracker bug to use.
$cfg_bug_id="1400";
# attached file to download.
$cfg_file_id="57";
1;
